version: '3'
services:
  myapp:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8501:8501
    volumes:
      - ./apps/:/apps/
      - ~/.aws:/root/.aws # If not provide AWS credentials from .env, just load your local AWS credentails
    command:
    - streamlit
    - run
    - app.py
    env_file:
    - .env
